@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  h1{
    font-size: 2.5rem;
    font-family: "nunito"; 
  }
  h2{
    font-size: 2.0rem;
    font-family: "merriweather"; 
  }
}